<div class="container mx-auto max-w-3xl p-6">
  <h1 class="text-2xl font-semibold mb-4">Create a New Plan</h1>

  <div class="w-full bg-gray-200 h-2 rounded-full mb-6">
    <div class="bg-blue-600 h-2 rounded-full" style="width: <%= @progress.progress %>%"></div>
  </div>

  <%= render "wizard_progresses/steps/#{@progress.wizard_type}/#{@progress.current_step}", progress: @progress %>
</div>
